h1{
	color: #2F4F4F;
	font-family: 'Do Hyeon', sans-serif;
	font-size:3.0em;
	text-align:Center;
	
}
nav{
	font-family: Open Sans;
	font-size: 100%;
	text-align:center;
}
nav a{
	width:7%;
	display: inline-block;
	padding:14px;
	color:#2c3e50;
	font-weight: bold;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
nav a:hover{
	color: Black; transform: scale(1.2);
}
div{
	text-align: center;
	padding: 30px;
	font-family: Open Sans;
}
.Main{
	font-size: large;
	color: #2F4F4F;
	
}
.m{
	font-size: large;
	color: #2F4F4F;
}
.title{
    justify-content:space-evenly;
    align-items: center;
    border-bottom: 1px dotted black;
	border-top:  1px dotted black;
}
	
.highlight{
	color: #2F4F4F;
	font-size: medium;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 8%;

}
.fa-facebook {
  background: Black;
  color: White;
 }
 .fa-linkedin {
  background: Black;
  color: White;
 }
 .fa-twitter {
  background: Black;
  color: White;
 }
 .fa-instagram {
  background: Black;
  color: White;
 }
 .fa-facebook:hover{
	transform: scale(1.2);
	background-color: rgb(11, 132, 238);
}
.fa-twitter:hover{
   transform: scale(1.2);
   background-color:rgb(93, 169, 221);
}
.fa-linkedin:hover{
   transform: scale(1.2);
   background-color: rgb(10, 102, 194);
}
.fa-instagram:hover{
   transform: scale(1.2);
   background-image: linear-gradient(to bottom left,rgba(154,47,190), rgba(247,204,84));
				
}
